html {
    font-size: 22px;
}
/*body and p are elements*/
/*body-selector*/
body {
    border: 3px solid black;
}

main {
    font-family: monospace;
}

h1, h2 {
    color: blue;
}
/*paragraph-selector*/
p {
    color: purple;
}
/*The below p element will dominate above p element due to order of definition occurence*/
p {
    color: red;
}

/*nesting*/
p span{
    text-transform: uppercase;
    background-color: gold;
}

/*class selector: starts with a period- ".class_name" */
.gray {
    color: gray;
}

/*id selector: starts with a hashtag- "#id_value" */
#second {
    font-style: italic;
}