body {
    padding: 10%;
    font-size: 2rem;
}
/* 
input, button {
    font: inherit;
} */

p {
    text-decoration: underline;   /* default: none */
    text-transform: capitalize; /* default: none */
    text-align: justify; /* default: left */
    text-indent: 2em;
}

p {
    line-height: 1.5;
/*     letter-spacing: 0.1em;
    word-spacing: 0.1em; */
    font-weight: 300; /* boldness; values: 300, 400, lighter,  bolder*/
    font-style: oblique; /* default: normal; oblique is just more emphasis than italic*/
    font-family: monospace; /* default: serif (mostly); On web, most popular one is: sans-serif. On second thoughts, it's "Arial" that's seen more across the web */
} 







