html{
  min-width: 310px;
  font-family: Garamond;
  font-size: 1.3em;
  font-weight: 540;
}
body {
  color: hsl(189, 30%, 15%);
  background: linear-gradient(to right,#FAE6FA,#FFDAE9);
  background-repeat: no-repeat;
}/*background:linear-gradient(to bottom,#c45c823d,#FFC0CB);*/
header {
  color: #563C5C;
  text-align: center;
  font-family: none;
  font-weight: 300;
  font-size: none;
  margin-bottom: 4px;
}
h2{
  margin-bottom: 4px;
}
#img-div{
  text-align: center;
}
#image {
  max-width: 78%;
  max-height: 420;
  aspect-ratio: 48/27;
  height: auto;
}
#img-caption > p {
  margin-top: 0.5px;
}
img{
  display: block;
  margin: 0 auto;
}
.sub-head {
  font-weight: bold;
  font-size: 1.1em;
  color: hsl(250, 84%, 23%);
  display: block;
}
ul{
  border: 1px solid #ddd;
  list-style: circle outside url("https://www.flaticon.com/free-icons/wand");
  margin-left: 2px;
  padding-left: 20px;
  font-family: 'Sanchez', serif;
}
dl {
  padding: 4px;
}
dt {
  font-weight: bold;
  font-size: 1.1rem;
  color: hsl(189, 30%, 15%);
}
dd {
  margin-left: 2px;
}
#suggest{
  font-family: DejaVu Sans Mono, monospace;
  font-size: 0.9em;
  margin: auto 5px;
}
.cursive{
  font-family: cursive;
  font-size: 0.9rem;
  padding-left: 4px;
  padding-right: 4px;
}
#remarks > h2 {
  font-size: unset;
}
#achievements > h2{
  margin-bottom: 0;
}
#achievements > dl, #achievements > dl > p{
  display: inline-block;
  margin-top: 0;
}
#achievements > dl > p{
  padding-top: 0;
}
#quotes > ul{
  padding: 6px auto;
}
footer{
  margin-top: 4rem;
  margin-bottom: 0;
}
